*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: #FFFF00;
    text-align: center;
    padding: 5px 0;
}

.cabecalho-imagem{
    width: 13%;
}

.academia{
    background-image: linear-gradient(#FFFF00, #FF0000);
    justify-content: center;
    align-items: center;
}

.academia-imagem{
    width: 50%;
    align-items: center;

}

.academia-div-conteudo{
    text-align: center;
}